@import "tailwindcss";

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: 'Geist', -apple-system, Roboto, Helvetica, sans-serif;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
